<script lang="ts">
	export let posterSrc = '';
	export let videoSrc = '';
</script>

<div
	class="absolute -right-10 xl:-right-14 w-5/12 xl:w-4/12 aspect-square bg-medium-gray hidden lg:block"
>
	<video poster={posterSrc} src={videoSrc} autoplay loop muted playsinline>
		<track kind="captions" />
	</video>
</div>
