<script lang="ts">
	import Gitlab from '$lib/icons/Gitlab.svelte';
	import Medium from '$lib/icons/Medium.svelte';
	import Telegram from '$lib/icons/Telegram.svelte';
	import Twitter from '$lib/icons/Twitter.svelte';
	import Gitbook from '$lib/icons/Gitbook.svelte';

	import { formatNumber } from '../../services/helpers';
	import { formatNumberTwoDecimal } from '../../services/helpers';
	import Links from '$lib/components/Header/Links.svelte';
	import { useRunePrice } from '$lib/services/queries';

	const runePriceQuery = useRunePrice();

	$: runePrice = $runePriceQuery.data;
</script>

<div class="hidden xl:block">
	<div class="text-white py-[38px] flex items-center justify-between space-x-8">
		<a href="/">
			<img width="160px" height="34px" src="/images/logos/full-dark.png" alt="logo" />
		</a>

		<div
			class="hidden xl:flex xl:items-center xl:space-x-[40px] text-xsmall lg:text-small font-bold"
		>
			<div class="flex items-center space-x-[40px]">
				<Links />
			</div>

			<a href="https://coinmarketcap.com/currencies/thorchain/" target="_blank" rel="noopener noreferrer">
				<button
					class:invisible={!runePrice}
					class="font-bold w-[125px] h-[44px] bg-[#2BBE8C] rounded-[10px]"
				>
					{runePrice ? `RUNE = $${formatNumberTwoDecimal(runePrice)}` : ''}
				</button>
			</a>
		</div>

		<div class="flex space-x-[25px] items-center text-white">
			
			<a href="https://docs.thorchain.org" target="_blank" rel="noopener noreferrer">
				<Gitbook class="w-5 h-5" />
			</a>
			<a href="https://gitlab.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Gitlab class="w-5 h-5" />
			</a>
			<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Medium class="w-5 h-5" />
			</a>
			<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
				<Telegram class="w-5 h-5" />
			</a>

			<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Twitter class="w-5 h-5" />
			</a>
		</div>
	</div>
</div>
