<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionTitle>Trust Minimized Infrastructure</SectionTitle>
	<SectionDescription>
		THORChain was designed from first principles to minimize trust and become a scalable, economically secure cross-chain communication and settlement layer.
		Dozens of exchanges rely on THORChain to process swaps for their users & more.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="50px" height="50px" src="/images/icons/blockchain.png" alt="tree" />
			<CardTitle>Cross-Chain Swaps</CardTitle>
		</Card>
		<Card>
			<img width="50px" height="50px" src="/images/icons/wallet.png" alt="connect" />
			<CardTitle>Dual Liquidity</CardTitle>
		</Card>
		<Card>
			<img width="50px" height="50px" src="/images/icons/analytics.png" alt="shield" />
			<CardTitle>Savers</CardTitle>
		</Card>
		<Card>
			<img width="50px" height="50px" src="/images/icons/filter.png" alt="shield" />
			<CardTitle>DEX Aggregation</CardTitle>
		</Card>
	</div>
</Section>
