<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx('font-extrabold text-m-h3 lg:text-d-h3 text-text-primary', {
		'bg-green opacity-20': loading,
	});

	export let loading = false;
</script>

<h1 class={classNames}>
	{#if loading}
		&nbsp;
	{:else}
		<slot />
	{/if}
</h1>
