<script lang="ts">
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	import Button from '$lib/components/Button/Button.svelte';
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	import Section from '$lib/components/Section/Section.svelte';

	const swiperValues = ['Swaps', 'Yield', 'Liquidity', 'Savers', 'Aggregator', 'Infrastructure', 'Exchange'];
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>
		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
			<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
				Cross-Chain
				<Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
					{#each swiperValues as value}
						<SwiperSlide class="text-text-primary pb-2 lg:pb-0">
							{value}
						</SwiperSlide>
					{/each}
				</Swiper>
			</h1>

			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				Swap between blockchains directly from your wallet. Earn yield on your assets. Powered by
				RUNE.
			</p>
			<div
				class="flex flex-col sm:flex-row sm:space-x-[20px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
			>
				<a href="/swap">
					<Button class="justify-center w-full py-[13px] lg:py-[15px]" gradient>Swap</Button>
				</a>
				<a href="/yield">
					<Button class="justify-center w-full py-[13px] lg:py-[15px]">Earn</Button>
				</a>
			</div>
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>
	</div>
</Section>
