<script lang="ts">
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	
	import Section from '$lib/components/Section/Section.svelte';
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';
	const swiperValues = ['Access Liquidity', 'Offer Swaps', 'Support Bitcoin', 'Integrate Savers', 'Go Cross-Chain' ];
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>

		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
			<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
				<Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
					{#each swiperValues as value}
						<SwiperSlide class="text-text-primary pb-2 lg:pb-0">
							{value}
						</SwiperSlide>
					{/each}
				</Swiper><span class="text-green">Power Your App.</span> <br /> 
			</h1>
			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				THORChain is a cross-chain liquidity engine anyone can integrate to their
				crypto-native project. Expand your customer base, make your application
				multichain, and power revenue through affiliate fees on swaps.
			</p>
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>
	</div>
</Section>
