<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';
	const swiperValues = ['Security', 'Liquidity', 'Swaps'];
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>

		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
		<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
			<Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
				{#each swiperValues as value}
					<SwiperSlide class="text-text-primary pb-2 lg:pb-0">
						{value}
					</SwiperSlide>
				{/each}
			</Swiper>
			<span class="text-green">Powered by RUNE.</span>
		</h1>

			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				RUNE plays a vital part in the network. Node operators must bond RUNE to ensure the
				network’s economic security. In the liquidity pools, each asset is paired with RUNE as a
				settlement asset to maximize liquidity and efficiency, while capturing value for RUNE.
			</p>
			<div
				class="flex flex-col sm:flex-row sm:space-x-[20px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
			>
				<a
					href="https://medium.com/thorchain/thorchain-tokenomics-what-is-rune-52d339633260"
					target="_blank"
					rel="noopener noreferrer"
				>
					<Button class="justify-center px-[70px] py-[15px] w-full">Learn More</Button>
				</a>
<!--
				<a
					href="https://thorchain.com/swap"
					target="_blank"
					rel="noopener noreferrer"
				>
				<Button class="justify-center px-[70px] py-[15px] w-full">Buy RUNE</Button>
				</a> <-->
			</div>
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.png"
			videoSrc="/videos/home-hero.mp4"
		/>
	</div>
</Section>
